<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Canvas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../main.css">
</head>
<body>
	<canvas></canvas>
	<div class="back btn" onclick="window.history.back()">
		<p>Go back</p>
	</div>
	<div class="settings-interface">
		<label class="checker">
			<span>Opacity</span>
			<input type="range" min="0" max="255" value="255" onchange="changeOpacity((+this.value).toString(16)
)">
		</label>
	</div>
	<script src="../script/basic.js"></script>
	<script src="../script/mousecircle.js"></script>
</body>
</html>